<div class="myblock-form">
    <input type="text" id="myblock-message" placeholder="{{placeholder}}">
    <button id="myblock-submit">{{submit}}</button>
    <div id="myblock-response"></div>
    <div id="myblock-list"></div>
</div>